@import "curse.styl"
@import "estilos.styl"
@import "fonts.styl"

.video
	background-color gris_claro
	width 720px
	height 360px
	margin 0 auto

.PDF
	float left
	margin-top 1em

.text-title
	text-align left
	margin-top 4em

.text
	float left
	text-align left