@import "nib"
@import "normalize.styl"
@import "fonts.styl"

vendor-prefixes = webkit o ms moz official

gris_oscuro = #333333
gris_claro = #818181
rojo = #BD255B
gris_mas_claro = #F0F0F0

a
	text-decoration none

body
	font-size 16px
	font-family 'Varela Round', sans-serif
	background-color #F5F5F5

figure
	margin 0

img
	vertical-align top

ul
	margin 0
	padding 0


/* Utilidades */


.center-block
	margin 0 auto

.center-text
	text-align center

.left
	float left

.relative
	position relative

.right
	float right

.right-text
	text-align right

.round
	border-radius 50%
	overflow hidden

.wrap-section
	width 1225px


/* Header */

.center-header
	position relative

.header
	height 50px
	background-color #AD0B2A

.logo
	position absolute
	top 0.6em
	margin-left 5em

.logo img
	width 100px

.button-menu
	position absolute
	right 0
	top .6em
	font-size 24px
	color white

.user
	position absolute
	right 0
	top 0.5em
	margin-right 5em

.username
	color white
	position relative
	top 9px
	margin-left 0.5em
	&:after
		content ""
		border-left 7px solid transparent
		border-top 9px solid gris_claro
		border-right 7px solid transparent
		display inline-block
		margin-left .4em

/* Curses */

.curses-title
	margin-top 1em
	color gris_claro

.curse
	border 2px solid gris_mas_claro
	border-top 6px solid #C6C6C5
	margin-top 1em

.curse-title
	border-bottom 1px solid gris_mas_claro
	color black

.curse-description
	color gris_claro

.curse-text
	background-color white




/* Responsive design */

@media screen and (min-width:1025px)
	.button-menu
		display none

	.curse
		background-color white
		display block
		float left
		max-height 250px
		padding-right 2em

	.curse-image
		float left
		margin-right 2em
		position relative

	.curse-title
		right 9em
		margin 2em
		padding-bottom 2em

@media screen and (max-width:1225px)
	.wrap-section
		width 1000px

	.user
		margin-right 3em

	.logo
		margin-left 3em

	.curse-image img
		width 540px

	.curse-title
		margin 1em
		padding-bottom 1em

	.curse-description
		font-size 15px


@media screen and (max-width:1024px)
	.user
		display none

	.wrap-section
		width 800px

	.curses-title
		text-align center 

	.curse
		background-color white
		width 450px
		margin 0 auto
		margin-top 3em

	.curse-image
		position relative

	.curse-image img
		width 450px

	.curse-text
		width 450px

	.curse-title
		margin-top em

	.curse-description
		padding 1em

	.button-menu
		display block
		margin-right 2em

@media screen and (max-width:800px)
	
	.wrap-section
		width 500px

@media screen and (max-width:480px)

	.curse
		margin 0
		margin-top 2em

	.curse-image img
		width 480px

	.curse-text
		width auto

	.curse-title
		border-bottom 0

	.curse-description
		display none

@media screen and (max-width:400px)

	.curse-image img
		width 400px

	.curse-description
		padding-right 4em


